body{
    font-family: 'Prompt', sans-serif;
}
.heading{
    text-align: center;
    font-size: 45px;
}
.heading span{
    padding: 10px 15px;
    color: greenyellow;
    background-color: #333333;
    border-radius: 7px;
}
.login-container{
    width: 50%;
    background-color: #333333;
    margin: 0 auto;
    padding: 50px;
    color: white;
    border-radius: 7px;
}
.heading-two{
    font-size: 32px;
}
#user-email, #user-password{
    display: block;
    width: 75%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 7px;
    border: none;
    background-color: rgba(255, 255, 255, 0.904);
}
#btn-login{
    padding: 12px 40px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: greenyellow;
    cursor: pointer;
    font-family: 'Prompt', sans-serif;
}
#btn-login:hover{
    background-color: rgb(224, 255, 47);
}